
.busadmin-analyze {
  ion-grid {
    background-color: #fff;
    padding: 0;
  }
  ng2-echart {
    display: block;
    width: 100%;
    height: 300px;
  }

  .single-row {
    height: 80px;
    font-size: 20px;
  }

  .select-analyze-type {
    width: 100%;

    .select-ios .select-placeholder {
      display: none;
    }

    ion-select {
      overflow: hidden;
      max-width: 100%;
      font-size: 1.6rem;
      margin: auto;
    }

    .select-text {
      overflow: hidden;
      min-width: 16px;
      font-size: inherit;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: center;
    }
  }

  .date-type-container {
    ion-col {
      padding: 0px;
    }

    ion-item {
      border-left: solid 0.55px #c8c7cc;
    }

    ion-select {
      max-width: 90%;
      margin: auto;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    border-bottom: solid 0.55px #c8c7cc;
  }

  .content-container {
    display: block;
    width: 100%;
  }

  .analyze-maplayer {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;

    ng2-baidu-map {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .item-info {
    padding: 10px 20px 10px 20px;
    text-align: center;
    span {
      color: #FF0000;
    }
    p {
      line-height: 28px;
      font-size: 28px;
      margin: 0 0 10px 0;
    }

  }

  .item-box-top-right {
    padding: 25px 10px 22px 10px;
    text-align: center;
    font-size: 15px;
    height: 112px;
    color: #989898;

    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    span {
      font-size: 20px;
      color: #000;
    }
  }

  .item-box-top {
    padding: 25px 10px 22px 10px;
    text-align: center;
    font-size: 15px;
    color: #989898;
    height: 112px;

    border-top: 1px solid #ddd;
    span {
      font-size: 20px;
      color: #000;
    }
  }
}
