<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      事件管理
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="road-ev-manage">
  <div padding>
    <ion-segment [(ngModel)]="items">
      <ion-segment-button value="allItems">
        全部
      </ion-segment-button>
      <ion-segment-button value="doneItems">
        已完成
      </ion-segment-button>
      <ion-segment-button value="doingItem">
        进行中
      </ion-segment-button>
      <ion-segment-button value="unItems">
        未接受
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="items">
    <ion-list *ngSwitchCase="'allItems'" no-lines>
      <ion-item (click)="eventDetail(event)" *ngFor="let event of allEvents">
        <div class="item-content">
          <div>
            <ion-thumbnail>
              <img src="{{event.Picture}}">
            </ion-thumbnail>
            <div>
              <p><span>巡查分类:</span><span>{{event.PatorCateGory}}</span></p>
              <p><span>接收单位:</span><span>{{event.ReceiveOrg}}</span></p>
              <p><span>巡查员:</span><span>{{event.SendPerson}}</span></p>
            </div>
          </div>
          <button ion-button item-right>已完成</button>
        </div>
        <div class="item-btm"><span>编号:kl45648676325</span><span>2016-12-12  9:55:55</span></div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'doneItems'">
      <ion-item *ngFor="let event of doneEvents">
        <div class="item-content">
          <div>
            <ion-thumbnail>
              <img src="{{event.Picture}}">
            </ion-thumbnail>
            <div>
              <p><span>巡查分类:</span><span>{{event.PatorCateGory}}</span></p>
              <p><span>接收单位:</span><span>{{event.ReceiveOrg}}</span></p>
              <p><span>巡查员:</span><span>{{event.SendPerson}}</span></p>
            </div>
          </div>
          <button ion-button item-right>已完成</button>
        </div>
        <div class="item-btm"><span>编号:kl45648676325</span><span>2016-12-12  9:55:55</span></div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'doingItem'">
      <ion-item *ngFor="let event of doingEvents">
        <div class="item-content">
          <div>
            <ion-thumbnail>
              <img src="{{event.Picture}}">
            </ion-thumbnail>
            <div>
              <p><span>巡查分类:</span><span>{{event.PatorCateGory}}</span></p>
              <p><span>接收单位:</span><span>{{event.ReceiveOrg}}</span></p>
              <p><span>巡查员:</span><span>{{event.SendPerson}}</span></p>
            </div>
          </div>
          <button ion-button item-right>已完成</button>
        </div>
        <div class="item-btm"><span>编号:kl45648676325</span><span>2016-12-12  9:55:55</span></div>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'unItems'">
      <ion-item *ngFor="let event of waitingEvents">
        <div class="item-content">
          <div>
            <ion-thumbnail>
              <img src="{{event.Picture}}">
            </ion-thumbnail>
            <div>
              <p><span>巡查分类:</span><span>{{event.PatorCateGory}}</span></p>
              <p><span>接收单位:</span><span>{{event.ReceiveOrg}}</span></p>
              <p><span>巡查员:</span><span>{{event.SendPerson}}</span></p>
            </div>
          </div>
          <button ion-button item-right>已完成</button>
        </div>
        <div class="item-btm"><span>编号:kl45648676325</span><span>2016-12-12  9:55:55</span></div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
