.project-video {
  background-color: #eee;
  .btn-img {
    position: absolute;
    text-align: center;
    bottom: 28%;
    left: 0;
    right: 0;
    img {
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }
  }
  .map-detail {
    height: 100%;
    margin-top: 44px;
  }
  .searchbar-ios {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: #eee;
  }
  .list-ios {
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    z-index: 999;
    .item-ios {
      margin-top: 0;
      img {
        width: 26px;
        height: 26px;
        vertical-align: bottom;
      }
    }
  }
}
