.busdriver-completetask {
    
    .task-item{
        border-bottom: 1px solid #ddd;
        text-align: center;

        ion-row {
            margin-top: 2px;
            margin-bottom: 2px;
        }

        .diff-time {
            border: 1px solid;
            border-radius: 5px;
            padding: 2px;
        }
    }
}