<ion-header>
  <ion-navbar>
    <ion-title>
      签到
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="project-reg-manage">
  <ion-list>
    <ion-item class="choose-date">
      <ion-datetime displayFormat="DDDD YYYY.MM.DD" [(ngModel)]="dateVal" (ionChange)="updateData()"
                    dayNames="星期日,星期一,星期二,星期三,星期四,星期五,星期六"></ion-datetime>
      <ion-icon name="arrow-down" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngFor="let signItem of signData">
    <ion-item class="location">
      {{signItem.projectName}}
    </ion-item>
    <ion-item class="item-head">
      签到<span class="blue">{{signItem.users}}</span>人
      <ion-icon name="arrow-forward" item-right></ion-icon>
    </ion-item>
    <ion-item>
      <ion-grid id="grid">
        <ion-row *ngFor="let user of signItem.users">
          <ion-col width-20>
            <img src="assets/img/road/event_process_user_img.png">
            <h3>{{user}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>

</ion-content>
