.project-register {
  .btn-img {
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    img {
      &:first-of-type {
        height: 120px;
        width: 120px;
      }
      &:last-of-type {
        margin-left: -81px;
        margin-top: 10px;
        width: 42px;
        height: 53px;
      }
    }
    span {
      margin-left: -34px;
      margin-top: 73px;
      color: #fff;
      font-size: 16px;
    }
  }
  .list-ios .item-block .item-inner {
    border: none;
  }
  ion-item.item-ios {
    margin-top: 0;
    border-bottom: 1px #eee solid;
    &:first-of-type {
      padding: 10px 16px;
    }
  }
  .custom ion-label {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    div {
      display: inherit;
      align-items: center;
    }
    img {
      height: 20px;
      width: 20px;
      margin-right: 4px;
    }
    span {
      span {
        color: #8e9093;
      }
    }
  }
  .head {
    p {
      span {
        color: #EFA421;
        font-size: 22px;
      }
    }
  }
  .item-ios ion-thumbnail[item-left] {
    margin: 16px 16px 16px 0;
    height: 120px;
    width: 170px;
  }
  .location {
    ion-label{
      h2 {
        margin-bottom: 6px;
      }
      p {
        margin-bottom: 8px;
      }
    }
  }

  .amap-logo {
    right: 0 !important;
    left: auto !important;
    display: none;
  }

  .amap-copyright {
    right: 70px !important;
    left: auto !important;
  }
}
