<ion-header>
  <ion-navbar>
    <ion-title>
      签到
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="project-register">
  <ion-list>
    <ion-item class="head">
      <ion-avatar item-left>
        <img src="assets/img/road/event_list_default_img.png">
      </ion-avatar>
      <h2>{{signData.loginName}}</h2>
      <p>今日您已完成签到<span>{{signData.times}}</span>次</p>
    </ion-item>
    <ion-item class="custom">
      <div><img src="assets/img/sign.png">
        <span>{{dateVal.weekday}}：<span>{{dateVal.fullDay}}</span></span>
      </div>
      <div><img src="assets/img/sign2_03.png">
        <span>当前时间：<span>{{dateVal.time}}</span></span>
      </div>
    </ion-item>
    <ion-item class="location">
      <ion-thumbnail item-left id="amap">
      </ion-thumbnail>
      <h2>溧阳客运东站</h2>
      <p>江苏省溧阳市22号</p>
      <button clear ion-button (click)="changeLoc()">地点微调</button>
    </ion-item>

    <ion-item>
      <ion-label>
        选择项目
      </ion-label>
      <ion-select [(ngModel)]="proDataItem">
        <ion-option *ngFor="let data of proData">{{data.projectName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <div class="btn-img" *ngIf="signFlag">
    <!--todo:签到图片-->
    <img src="assets/img/sign_in_bg.png" (click)="signin()">
    <img src="assets/img/sign1_03.png">
    <span>签到</span>
  </div>
  <div class="btn-img" *ngIf="!signFlag">
    <!--todo：签退图片-->
    <img src="assets/img/sign_out_bg.png" (click)="signout()">
    <img src="assets/img/sign1_03.png">
    <span>签退</span>
  </div>
</ion-content>
