.taxiadmin-searchresult {
  background: transparent;
  .ion-ios-search-list {
    content: url("../assets/img/dbl_a_sd.png");
    min-height: 18px;
    height: 18px;
    width: 24px;
  }

  .ion-ios-search-list-gray {
    content: url("../assets/img/dbl_a_ss.png");
    min-height: 18px;
    height: 18px;
    width: 24px;
  }
}
