.busadmin-businfo {
    background-color: #FAFAFA;

    .info-header-item {
        width: 100%;
        padding-top: 20px;

        img {
            display: block;
            width: 50px;
            height: 50px;
            margin: auto;
        }

        p {
            text-align: center;
        }
    }

    ion-grid {
        background-color: #FFFFFF;
        .item-box-top-right {
            padding: 25px 10px 25px 10px;
            text-align: center;
            line-height: 25px;
            border-top: 1px solid #ddd;
            border-right: 1px solid #ddd;
        }
    
        .item-box-top {
            padding: 25px 10px 25px 10px;
            text-align: center;
            line-height: 25px;
            border-top: 1px solid #ddd;
        }
    }

    .item-list {
        margin-top: 10px;
        padding: 0px;
    }

    .item-title {
        color: gray;
    }
}