.taxilist {

  .ion-ios-search-list {
    content: url("../assets/img/dbl_a_sd.png");
    min-height: 18px;
    height: 18px;
    width: 24px;
  }

  .ion-ios-search-list-gray {
    content: url("../assets/img/dbl_a_ss.png");
    min-height: 18px;
    height: 18px;
    width: 24px;
  }
  .label-ios {
    margin: 6px 0;
    padding: 13px 8px 12px 0;
  }
  .scroll-content {
    padding: 0;
  }
}
