<ion-header>
  <ion-navbar>
    <ion-title>
      文件管理
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="project-file-manage">
  <ion-list>
    <ion-item class="choose-date">
      <ion-datetime displayFormat="DDDD YYYY.MM.DD" [(ngModel)]="dateVal" (ionChange)="updateData()"
                    dayNames="星期日,星期一,星期二,星期三,星期四,星期五,星期六"></ion-datetime>
      <ion-icon name="arrow-down" item-right></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let proItem of proFiles">
      <ion-list>
        <ion-item class="location">
          {{proItem.projectName}}
        </ion-item>
        <ion-item class="item-head">
          上传文件<span class="blue">{{proItem.fileNum}}</span>份
          <ion-icon name="arrow-forward" item-right></ion-icon>
        </ion-item>
        <ion-item>
          <ion-grid class="grid">
            <ion-row>
              <ion-col width-33 *ngFor="let file of proItem.files" (click)="fileDetail(file)">
                <img src="assets/img/file_03.png">
                <h3>{{file.fileName}}</h3>
                <h4>{{file.fileSize}}</h4>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </ion-item>
  </ion-list>

</ion-content>
