<ion-header>
    <ion-navbar no-border-bottom>
        <ion-title>
            交通违章
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="taxidriver-illegal">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    <ion-list>
        <div class="traffic-violation-item" *ngFor="let bean of illegalList">
            <div><ion-icon name="clock" isActive="false"></ion-icon> {{bean.illegalTime}}</div>
            <div class="item-result-yellow">扣{{bean.detainScore}}分</div>
            <div class="item-result-red">{{bean.fineSituation}}</div>
            <div class="item-title">违章地点</div>
            <div class="item-content">{{bean.illegalPlace}}</div>
            <div class="item-title">违章条例</div>
            <div class="item-content">{{bean.illegalRegulation}}</div>
            <img class="item-image" src="assets/img/dealok.png">
        </div>
    </ion-list>

    <div class="bird-list-empty" *ngIf="illegalList.length===0">空</div>

</ion-content>
