.road-register {
  background-color: #eee;
  .item-ios {
    margin-top: 20px;
  }
  .btn-img {
    position: absolute;
    text-align: center;
    bottom: 28%;
    left: 0;
    right: 0;
    img {
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }
  }
}
