.password-page {
  background-image: url("../assets/img/splash.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  .box-container{
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 80px;
    max-width: 300px;

    .login-title {
      width: 60%;
      display: block;
      margin: auto;
    }

    ion-item {
      margin-top: 20px;
      background: transparent;
      border: 1px solid #ffffff;
      border-radius: 5px;

      ion-input {
        background: transparent;
      }

      .item-inner {
        border: 0;
      }
    }

    button {
      margin-top: 30px;
    }
  }
}


