.main-tab-bus {
  .tabs-ios .tab-button-icon {
    min-width: 32px;
    height: 50px;
    font-size: 30px;
  }

  .ion-ios-tab-turn {
    content: url("../assets/img/y_pb_b.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-turn-outline {
    content: url("../assets/img/y_pb_a.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-statistics {
    content: url("../assets/img/di_l_tj.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-statistics-outline {
    content: url("../assets/img/di_a_tj.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-safe {
    content: url("../assets/img/di_l_aq.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-safe-outline {
    content: url("../assets/img/di_a_aq.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-yunying {
    content: url("../assets/img/y_yy_b.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-yunying-outline {
    content: url("../assets/img/y_yy_a.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-mine {
    content: url("../assets/img/y_w_b.png");
    width: 32px;
    height: 50px;
  }

  .ion-ios-tab-mine-outline {
    content: url("../assets/img/y_w_a.png");
    width: 32px;
    height: 50px;
  }
}
