
.slide-zoom {
  height: 90vh; 
}

.ion-page > .toolbar.statusbar-padding:first-child,
.ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ion-page > ion-header > .toolbar.statusbar-padding:first-child,
.ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child{
  padding-top: 20px;
  height: calc(44px + 20px);
  min-height: calc(44px + 20px);
}

.ion-page > ion-content.statusbar-padding:first-child .scroll-content,
.ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content,
.ion-page > ion-header > ion-content.statusbar-padding:first-child .scroll-content{
  padding-top: 20px;
}

.ion-page > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ion-page > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ion-page > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ion-page > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content,
.ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding] .scroll-content,
.ion-page.tab-subpage > ion-header > ion-content.statusbar-padding:first-child[padding-top] .scroll-content{
  padding-top: calc(16px + 20px);
}

.ion-page > .toolbar.statusbar-padding:first-child ion-segment,
.ion-page > .toolbar.statusbar-padding:first-child ion-title,
.ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title,
.ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-segment,
.ion-page.tab-subpage > ion-header > .toolbar.statusbar-padding:first-child ion-title{
  padding-top: 20px;
  height: calc(44px + 20px);
  min-height: calc(44px + 20px);
}

.ios .ion-page.show-page ~ .nav-decor {
  background: transparent;
}