.taxidriver-analyze {

  ion-grid {
    background-color: #fff;
    padding: 0;
  }

  ion-item {
    border-left: solid 0.55px #c8c7cc;
  }

  ng2-echart {
    display: block;
    width: 100vw;
    height: 300px;
  }

  .item-info {
    padding: 10px 25px 10px 25px;
    text-align: center;
    font-size: 17px;
    //color: #e4e4e4;
    height: 55px;
    margin: 15px 0;
    padding: 0;
    span {
      color: #FF0000;
    }
    p {
      line-height: 28px;
      font-size: 28px;
      margin: 0;
      margin-bottom: 10px;
    }
    &:first-of-type {
      border-right: 1px #e4e4e4 solid;
    }
    .green {
      color: #18c180;
    }
    .red {
      color: #fa5c4b;
    }
  }

  .item-box-top-right {
    padding: 25px 10px 22px 10px;
    text-align: center;
    font-size: 15px;
    height: 112px;
    overflow: hidden;
    color: #989898;
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd;
    span {
      font-size: 20px;
      color: #000;
    }
  }

  .item-box-top {
    padding: 25px 10px 22px 10px;
    text-align: center;
    font-size: 15px;
    color: #989898;
    height: 112px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    span {
      font-size: 20px;
      color: #000;
    }
  }
}
