.road-rule-detail {
  background-color: #eee;
  h1 {
    font-size: 18px;
    text-align: center;
  }
  .content-body {
    background-color: #fff;
    font-size: 16px;
    padding: 10px 16px;
    line-height: 1.5;
    text-indent: 2em;
  }
}
